body {
    background-image: url('https://static.wikia.nocookie.net/gtawiki/images/e/e8/BurgerShot-GTAIV-MemoryLanes.jpg/revision/latest/scale-to-width-down/1000?cb=20230901063554');

}
h1{
    margin-top: 0%;
    text-align: center;
    color:#BF212E;
}
